body{
  margin: 0;
}
.pagination {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  list-style: none;
}

.pagination>li>a {
  border: 1px solid #ffd633;;
  padding: 5px 10px;
}
.pagination>li>a,
.pagination>li>span {
  color: #595959;
}